<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<bean id="businessDubboPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:config/dubbo_business_client.properties</value>
            </list>
        </property>
    </bean>
	 
	<dubbo:application name="fs-open-pay_business_client" />
	
	<dubbo:registry id="businessServiceClientRegistry"
                    protocol="${business.dubbo.registry.name}"
                    client="${business.dubbo.registry.client}"
                    address="${business.dubbo.registry.address}"
                    check="${business.dubbo.consumer.check}"
                    subscribe="true" file="business-registry-cache-sync.properties" />

    <dubbo:consumer id="businessConsumer"
                    registry="businessServiceClientRegistry"
                    init="false"
                    check="${business.dubbo.consumer.check}"
                    timeout="${business.dubbo.consumer.timeout}"
                    retries="0"/> 
    
    <dubbo:reference id="userChargeLogService"
        interface="com.facishare.pay.business.service.UserChargeLogService"
        version="1.0" 
        check="false" 
        consumer="businessConsumer" /> 
    <dubbo:reference id="userGetMoneyLogService"
        interface="com.facishare.pay.business.service.UserGetMoneyLogService"
        version="1.0" 
        check="false" 
        consumer="businessConsumer" /> 
    <dubbo:reference id="userTransferLogService"
        interface="com.facishare.pay.business.service.UserTransferLogService"
        version="1.0" 
        check="false" 
        consumer="businessConsumer" /> 
    <dubbo:reference id="userInfoService"
        interface="com.facishare.pay.business.service.UserInfoService"
        version="1.0" 
        check="false" 
        consumer="businessConsumer" /> 
    <dubbo:reference id="userCardInfoService"
        interface="com.facishare.pay.business.service.UserCardInfoService"
        version="1.0" 
        check="false" 
        consumer="businessConsumer" /> 
    
</beans>
