<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Performance Log -->
    <!-- <appender name="MONGO" class="com.facishare.common.logger.logback.MongodbAppender">
        <Server>172.31.102.102</Server>
        <Port>27017</Port>
        <Database>logdb-service</Database>
        <Collection>fs-wxAides-biz</Collection>
    </appender> -->


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-16(%d{MM-dd HH:mm:ss.SSS}) [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/bill-provider.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>../logs/bill-provider-%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern> %date %level [%thread] %msg%n </pattern>
		</encoder>
	</appender>
    
     <!-- PROFILER用于打内部执行时间的 -->
	<appender name="PROFILER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/bill-provider.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>../logs/bill-provider.%d{yyyy-MM-dd}
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%-16(%d{MM-dd HH:mm:ss.SSS}) %-5thread %-5level %logger{1} -
				%msg%n</pattern>
		</encoder>
	</appender>
   

<!-- 限制第三方jar  日志输出  -->
    <logger name="org.apache.zookeeper" level="warn"></logger>
    <logger name="org.I0Itec.zkclient" level="warn"></logger>
    <logger name="com.alibaba.dubbo" level="warn"></logger>
    <logger name="org.springframework.beans.factory" level="warn"></logger>
    <logger name="org.springframework.context" level="warn"></logger>
    <logger name="ch.qos.logback" level="warn"></logger>
    <logger name="org.springframework.amqp" level="warn"></logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="file"/>
    </root>

</configuration>