<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<!-- 数据源 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="${fs.open.app.center.mysql.driverClass}" />
		<property name="url" value="${fs.open.app.center.mysql.jdbcUrl}" />
		<property name="username" value="${fs.open.app.center.mysql.user}" />
		<property name="password" ref="passwordProvider" />

		<property name="filters" value="stat,log4j" />

		<property name="maxActive" value="${fs.open.app.center.mysql.maxActive}" />
		<property name="initialSize" value="${fs.open.app.center.mysql.minIdle}" />
		<property name="maxWait" value="60000" />
		<property name="minIdle" value="${fs.open.app.center.mysql.minIdle}" />

		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />

		<property name="validationQuery" value="SELECT 'x'" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />

		<property name="poolPreparedStatements" value="true" />
		<property name="maxPoolPreparedStatementPerConnectionSize" value="50" />
	</bean>
	<!-- 密码管理 -->
	<bean name="passwordProvider" class="com.facishare.open.common.password.DbPasswordFactoryBean">
		<property name="cryptWord" value="${fs.open.app.center.mysql.password}"/>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="com.facishare.open.manage.stat.model" />
		<property name="mapperLocations" value="classpath:spring/mapper/appStat/*.xml" />
		<property name="configLocation" value="classpath:mybatis.xml" />
	</bean>

	<!-- 自动生成dao实现类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	    <property name="basePackage" value="com.facishare.open.manage.stat.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>

	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />

	<!-- 活跃企业 数据源 -->
	<bean id="activityEaPasswordProvider" class="com.facishare.open.common.password.DbPasswordFactoryBean">
		<property name="cryptWord" value="${fs.open.app.center.activityEa.mysql.password}"/>
	</bean>
	<bean id="activityEaDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="${fs.open.app.center.activityEa.mysql.driverClass}" />
		<property name="url" value="${fs.open.app.center.activityEa.mysql.jdbcUrl}" />
		<property name="username" value="${fs.open.app.center.activityEa.mysql.user}" />
		<property name="password" ref="activityEaPasswordProvider" />
		<property name="maxActive" value="20" />
		<property name="initialSize" value="20" />
		<property name="maxWait" value="60000" />
		<property name="minIdle" value="1" />
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="validationQuery" value="SELECT 'x'" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="poolPreparedStatements" value="true" />
		<property name="maxPoolPreparedStatementPerConnectionSize" value="50" />
	</bean>

	<bean id="activityEaSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="activityEaDataSource" />
		<property name="mapperLocations" value="classpath:spring/mapper/activityea/*.xml" />
		<property name="configLocation" value="classpath:mybatis.xml" />
	</bean>

	<bean id="activityEaMapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.facishare.open.manage.activityea.dao" />
		<property name="sqlSessionFactoryBeanName" value="activityEaSqlSessionFactory"/>
	</bean>

</beans>