<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.facishare.pay.bill.dao.impl.BillErrorResultDetailDaoImpl">
    
    <resultMap id="BaseResultMap" type="billErrorResultDetailDo">
        <id property="id" column="id" />
        <result property="enterpriseAccount" column="enterprise_account" />
        <result property="fsUserId" column="fs_user_id" />
        <result property="actualBalance" column="actual_balance" />
        <result property="balance" column="balance" />
        <result property="status" column="status" typeHandler="com.facishare.pay.common.utils.EnumStatusHandler"/>
        <result property="deal" column="deal" />
        <result property="remark" column="remark" />
        <result property="createTime" column="create_time" />
    </resultMap>
    
    <sql id="All_Column">
        id,
        enterprise_account,
        fs_user_id,
        actual_balance,
        balance,
        status,
        deal,
        remark,
        create_time
    </sql>

    <!-- 添加错误对账记录 -->
    <insert id="addBillErrorResultDetail" parameterType="billErrorResultDetailDo" >
        INSERT INTO bill_error_result_detail(enterprise_account, fs_user_id, actual_balance, balance, status, deal, remark, create_time)
        VALUES (
                #{enterpriseAccount},
                #{fsUserId},
                #{actualBalance},
                #{balance},
                #{status, typeHandler=com.facishare.pay.common.utils.EnumStatusHandler},
                #{deal},
                #{remark},
                #{createTime}
            )
    </insert>
    
    <!-- 按条件分页查询错误对账记录 -->
    <select id="queryBillErrorResultDetailPage" parameterType="map" resultMap="BaseResultMap">
        SELECT 
            <include refid="All_Column"></include>
        FROM 
            bill_error_result_detail detail
            <include refid="resultDetailCondition"></include>
        ORDER BY 
            create_time DESC
        limit #{limit} offset #{offset}
    </select>
    
    <!-- 按条件查询错误对账记录 -->
    <select id="queryBillErrorResultDetailCount" parameterType="map" resultType="long">
        SELECT 
            COUNT(*)
        FROM 
            bill_error_result_detail detail
            <include refid="resultDetailCondition"></include>
    </select>
	
	<!-- 更新错误对账订单记录 -->
    <update id="updateBillErrorResultDetail" parameterType="billErrorResultDetailDo">
        UPDATE bill_error_result_detail
        set status = #{status, typeHandler=com.facishare.pay.common.utils.EnumStatusHandler} ,deal = #{deal}
        <if test="remark != null">
            ,remark = #{remark}
        </if>
        WHERE id = #{id}
    </update>
	
	<sql id="resultDetailCondition">
        <where>
            <if test="enterpriseAccount != null">
                AND detail.enterprise_account = #{enterpriseAccount}
            </if>
            <if test="fsUserId != null">
                AND detail.fs_user_id = #{fsUserId}
            </if>
            <if test="status != null">
                AND detail.status = #{status}
            </if>
            <if test="beginTime != null">
                <![CDATA[
                AND detail.create_time >= #{beginTime}
                ]]>                 
            </if>
            <if test="endTime != null">
                <![CDATA[
                AND detail.create_time < #{endTime}
                ]]>
            </if>
        </where>
    </sql>
</mapper>