<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.facishare.pay.bill.dao.impl.BillResultDaoImpl">
    
    <resultMap id="BaseResultMap" type="billResultDo">
        <id property="id" column="id" />
        <result property="total" column="total" />
        <result property="actualTotal" column="actual_total" />
        <result property="actualFailTotal" column="actual_fail_total" />
        <result property="actualSucTotal" column="actual_suc_total" />
        <result property="status" column="status" />
        <result property="endTime" column="end_time" />
        <result property="beginTime" column="begin_time" />
        <result property="remark" column="remark" />
    </resultMap>
    
    <sql id="All_Column">
        id,
        total,
        actual_total,
        actual_fail_total,
        actual_suc_total,
        status,
        end_time,
        begin_time,
        remark
    </sql>

    <!-- 添加对账记录 -->
    <insert id="addBillResult" parameterType="billResultDo" >
        INSERT INTO bill_result(total, actual_total, actual_fail_total, actual_suc_total, status, end_time, begin_time, remark)
        VALUES (
                #{total},
                #{actualTotal},
                #{actualFailTotal},
                #{actualSucTotal},
                #{status},
                #{endTime},
                #{beginTime},
                #{remark}
            )
    </insert>
    
    <!-- 按条件分页查询对账记录 -->
    <select id="queryBillResultPage" parameterType="map" resultMap="BaseResultMap">
        SELECT 
            <include refid="All_Column"></include>
        FROM 
            bill_result result
            <include refid="resultCondition"></include>
        ORDER BY 
            begin_time DESC
        limit #{limit} offset #{offset}
    </select>
    
    <!-- 按条件查询对账记录 -->
    <select id="queryBillResultCount" parameterType="map" resultType="long">
        SELECT 
            COUNT(*)
        FROM 
            bill_result result
            <include refid="resultCondition"></include>
    </select>
	
	<sql id="resultCondition">
        <where>
            <if test="beginTime != null">
                <![CDATA[
                AND result.begin_time >= #{beginTime}
                ]]>                 
            </if>
            <if test="endTime != null">
                <![CDATA[
                AND result.begin_time < #{endTime}
                ]]>
            </if>
        </where>
    </sql>
</mapper>